/* styles.css */
.action-button {
    -fx-font-size: 14px;
    -fx-text-fill: #f8f7f7;
    -fx-background-color: #4CAF50; /* Green */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.action-button:hover {
    -fx-background-color: #45a049; /* Darker green */
}
