
.cv-card {
    -fx-background-color: white; /* Background color */
    -fx-background-radius: 20; /* Rounded corners */
    -fx-padding: 10; /* Padding inside the card */
    -fx-border-radius: 20; /* Rounded corners for the border */
    -fx-border-color: #31768f; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Drop shadow effect */
    -fx-font-family: Calibri;
    -fx-font-size: 24;
    -fx-font-weight: bold; /* Make the text bold */
}
#home {
    -fx-text-fill: white;
}

#home:hover {
    -fx-text-fill: black;
}
#freelancers {
    -fx-text-fill: white;
}

#freelancers:hover {
    -fx-text-fill: black;
}
#reclamation {
    -fx-text-fill: white;
}

#reclamation:hover {
    -fx-text-fill: black;
}
#forum {
    -fx-text-fill: white;
}

#forum:hover {
    -fx-text-fill: black;
}
#yourowncv {
    -fx-text-fill: white;
}

#yourowncv:hover {
    -fx-text-fill: black;
}
.no-apps-label{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e0808; /* Black text color */
}